@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Inter";
}
/* nav section css code */
.h_5 {
  height: 90px;
}
.color_black {
  color: #000000 !important;
}
.cursor {
  cursor: pointer;
}
.nav_bg {
  background: #ffffff;
  box-shadow: 0px 11px 44px -10px rgba(0, 0, 0, 0.25);
}
/* runner's workout section css code */
.strength {
  top: 5%;
  left: 5%;
}
.right-arrow {
  top: 5%;
  right: 4%;
}
.icon {
  height: 40px;
  display: none;
}
.onhover {
  transition: all 0.4s ease-in-out !important;
}
.onhover:hover {
  width: 70%;
}
.height {
  height: 500px;
}
.onhover:hover .icon {
  display: block;
}
.border-radius-start {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.border-radius-end {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
/* media query css code start */
@media only screen and (max-width: 767.98px) {
  .onhover:hover {
    width: 100%;
  }
}
